.city {
  margin-bottom: 200px;

  &__inner-container {
  }

  &__container {
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 160px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 220px;

    &:nth-child(2) .city__item-wrapper {
      order: -1;
    }
  }

  &__item-img-wrapper {
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 445px;
      height: 445px;
      background-color: $light-grey;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: calc(-100% - 64px);
    }

    &::after {
      content: "";
      display: inline-block;
      width: 735px;
      height: 138px;
      background-image: url("./../../images/arrow-right-bottom.svg");
      background-repeat: no-repeat;
      position: absolute;
      left: -58%;
      top: 0;
      z-index: 10;
    }
  }

  &__arrow {
    position: relative;

    &::before  {
      content: "";
      display: inline-block;
      width: 445px;
      height: 445px;
      background-color: $light-grey;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: calc(100% + 64px);
    }

    &::after {
      content: "";
      display: inline-block;
      width: 735px;
      height: 138px;
      background-image: url("./../../images/arrow-left-bottom.svg");
      background-repeat: no-repeat;
      position: absolute;
      left: 56%;
      top: 18%;
      z-index: 10;
    }
  }

  &__item-img {
    border-radius: 50%;
  }

  &__item-wrapper {
    max-width: 445px;
    width: 100%;
  }

  &__item-text-wrapper {
  }

  &__item-heading {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: $dark-navy;
    margin-bottom: 24px;
    color: $dim-grey;
  }

  &__item-text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
  }

  &__item-link {
    @include button;
    border: 3px solid $yellow;
    transition: all 0.3s ease;

    &:hover {
      color: $yellow;
      background: none;
      border: 3px solid $yellow;
    }
  }
}

@media only screen and (max-width: 1035px) {
  .city {
    margin-bottom: 200px;

    &__inner-container {
    }

    &__container {
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 160px;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 150px;

      &:nth-child(2) .city__item-wrapper {
        order: -1;
      }
    }

    &__item-img-wrapper {
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 445px;
        height: 445px;
        background-color: $light-grey;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: calc(-100% - 64px);
      }

      &::after {
        content: "";
        display: inline-block;
        width: 735px;
        height: 138px;
        background-image: url("./../../images/arrow-right-bottom.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: -58%;
        top: 0;
        z-index: 10;
      }
    }

    &__arrow {
      position: relative;

      &::before  {
        content: "";
        display: inline-block;
        width: 445px;
        height: 445px;
        background-color: $light-grey;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: calc(100% + 64px);
      }

      &::after {
        content: "";
        display: inline-block;
        width: 735px;
        height: 138px;
        background-image: url("./../../images/arrow-left-bottom.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: 56%;
        top: 18%;
        z-index: 10;
      }
    }

    &__item-img {
      border-radius: 50%;
    }

    &__item-wrapper {
      max-width: 445px;
      width: 100%;
    }

    &__item-text-wrapper {
    }

    &__item-heading {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14286px;
      color: $dark-navy;
      margin-bottom: 24px;
      color: $dim-grey;
    }

    &__item-text {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 40px;
    }

    &__item-link {
      @include button;
      border: 3px solid $yellow;
      transition: all 0.3s ease;

      &:hover {
        color: $yellow;
        background: none;
        border: 3px solid $yellow;
      }
    }
  }
}

@media only screen and (max-width: 935px) {
  .city {
    margin-bottom: 200px;

    &__inner-container {
    }

    &__container {
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 160px;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 90px;

      &:nth-child(2) .city__item-wrapper {
        order: -1;
      }
    }

    &__item-img-wrapper {
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 445px;
        height: 445px;
        background-color: $light-grey;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: calc(-100% - 64px);
      }

      &::after {
        content: "";
        display: inline-block;
        width: 735px;
        height: 138px;
        background-image: url("./../../images/arrow-right-bottom.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: -58%;
        top: 0;
        z-index: 10;
      }
    }

    &__arrow {
      position: relative;

      &::before  {
        content: "";
        display: inline-block;
        width: 445px;
        height: 445px;
        background-color: $light-grey;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: calc(100% + 64px);
      }

      &::after {
        content: "";
        display: inline-block;
        width: 735px;
        height: 138px;
        background-image: url("./../../images/arrow-left-bottom.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: 56%;
        top: 18%;
        z-index: 10;
      }
    }

    &__item-img {
      border-radius: 50%;
    }

    &__item-wrapper {
      max-width: 445px;
      width: 100%;
    }

    &__item-text-wrapper {
    }

    &__item-heading {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -2.14286px;
      color: $dark-navy;
      margin-bottom: 24px;
      color: $dim-grey;
    }

    &__item-text {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 40px;
    }

    &__item-link {
      @include button;
      border: 3px solid $yellow;
      transition: all 0.3s ease;

      &:hover {
        color: $yellow;
        background: none;
        border: 3px solid $yellow;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .city {
    margin-bottom: 104px;

    &__inner-container {
    }

    &__container {
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 160px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 120px;

      &:nth-child(2) .city__item-wrapper {
        order: -1;
      }
    }

    &__item-img-wrapper {
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        width: 445px;
        height: 445px;
        background-color: $light-grey;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: calc(-100% - 64px);
      }

      &::after {
        content: "";
        display: inline-block;
        width: 735px;
        height: 138px;
        background-image: url("./../../images/arrow-right-bottom.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: -58%;
        top: 0;
        z-index: 10;
      }
    }

    &__item--order:nth-child(2) .city__item-img-wrapper {
      order: -1;
    }

    &__arrow {
      position: relative;

      &::before  {
        content: "";
        display: inline-block;
        width: 445px;
        height: 445px;
        background-color: $light-grey;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: calc(100% + 64px);
      }

      &::after {
        content: "";
        display: inline-block;
        width: 735px;
        height: 138px;
        background-image: url("./../../images/arrow-left-bottom.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: 56%;
        top: 18%;
        z-index: 10;
      }
    }

    &__item-img {
      border-radius: 50%;
    }

    &__item-wrapper {
      max-width: 573px;
      width: 100%;
    }

    &__item-text-wrapper {
    }

    &__item-heading {
      margin-bottom: 40px;
      text-align: center;
      width: 550px;
    }

    &__item-text {
      text-align: center;
    }

    &__item-link {
      @include button;
      border: 3px solid $yellow;
      transition: all 0.3s ease;
      margin-left: 200px;

      &:hover {
        color: $yellow;
        background: none;
        border: 3px solid $yellow;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .city {
    margin-bottom: 120px;

    &__inner-container {
    }

    &__container {
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 160px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 120px;

      &:nth-child(2) .city__item-wrapper {
        order: -1;
      }
    }

    &__item-img-wrapper {
      position: relative;

      &::before {
        display: none;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 735px;
        height: 138px;
        background-image: url("./../../images/arrow-right-bottom.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: -75%;
        top: 0;
        z-index: 10;
      }
    }

    &__item--order:nth-child(2) .city__item-img-wrapper {
      order: -1;
    }

    &__arrow {
      position: relative;

      &::before  {
        display: none;
      }

      &::after {
        content: "";
        display: inline-block;
        width: 735px;
        height: 138px;
        background-image: url("./../../images/arrow-left-bottom.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: 32%;
        top: -1%;
        z-index: 10;
      }
    }

    &__item-img {
      border-radius: 50%;
      width: 311px;
      height: 311px;
      margin-bottom: -56px;
    }

    &__item-wrapper {
      max-width: 311px;
      width: 100%;
    }

    &__item-text-wrapper {
    }

    &__item-heading {
      font-size: 32px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 32px;
      letter-spacing: -1.42857px;
      width: 311px;
    }

    &__item-text {
      text-align: center;
      width: 311px;
    }

    &__item-link {
      @include button;
      border: 3px solid $yellow;
      transition: all 0.3s ease;
      margin-left: 72px;

      &:hover {
        color: $yellow;
        background: none;
        border: 3px solid $yellow;
      }
    }
  }
}