.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.bg-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.step__wrapper-container {
  max-width: 1315px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}